{{ section:title }}{{ statamify:t key='my_account' }}{{ /section:title }}

<section class="cart">
  <div class="container">
    <div class="grid">
      <div class="col-24-sm">
        <h2 class="text-center">{{ statamify:t key='my_account' }} <span><a href="{{ user:logout_url }}">{{ trans:cp.logout }}</a></span></h2>
      </div>
    </div>

    <div class="inside">
      <div class="grid">
        <div class="col-24-sm">
          <div class="table">

            {{ statamify:orders }}

              {{ if no_results }}

                <div class="body">
                  <div class="item item-row" style="border:0">{{ statamify:t key='orders_not_found' }}</div>
                </div>

              {{ elseif first }}

                <div class="head grid">
                  <div class="col-4-sm">{{ statamify:t key='order' }}</div>
                  <div class="col-7-sm">{{ statamify:t key='order_date' }}</div>
                  <div class="col-6-sm">{{ statamify:t key='status' }}</div>
                  <div class="col-2-sm">{{ statamify:t key='qty' }}</div>
                  <div class="col-5-sm text-right">{{ statamify:t key='total' }}</div>
                </div>

              {{ /if }}

            {{ /statamify:orders }}

            <div class="body">

              {{ statamify:orders sort='date:desc' }}

                {{ unless no_results }}

                  <div class="item item-row">
                    <div class="grid vcenter-xs">
                      <div class="col-4-sm title"><a href="{{ locale_url }}account/order/{{ slug }}">{{ title }}</a></div>
                      <div class="col-7-sm">{{ date }}</div>
                      <div class="col-6-sm status">{{ statamify:t key='status.{status}' }}</div>
                      <div class="col-2-sm">{{ summary.items | length }}</div>
                      <div class="col-5-sm text-right">{{ summary.total.grand | statamify.money }}</div>
                    </div>
                  </div>

                {{ /unless }}

              {{ /statamify:orders }}

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

 {{ statamify:customer }}

  <section class="cart">
    <div class="container">
      <div class="grid">
        <div class="col-24-sm">
          <h2 class="text-center">{{ statamify:t key='my_addresses' }} <span><a href="{{ locale_url }}account/address/new">{{ statamify:t key='add_address' }}</a></span></h2>
        </div>
      </div>

      <div class="inside">
        <div class="grid">
          <div class="col-24-sm">
            <div class="table">

              {{ if addresses }}

                <div class="head grid">
                  <div class="col-6-sm">{{ statamify:t key='address_name' }} & {{ statamify:t key='address_company' }}</div>
                  <div class="col-3-sm">{{ statamify:t key='address_phone' }}</div>
                  <div class="col-8-sm">{{ statamify:t key='address' }}</div>
                  <div class="col-3-sm">{{ statamify:t key='address_city' }} & {{ statamify:t key='address_postal' }}</div>
                  <div class="col-4-sm text-right alt">{{ statamify:t key='address_region' }} & {{ statamify:t key='address_country' }}</div>
                </div>

              {{ else }}

                <div class="body">
                  <div class="item item-row" style="border:0">{{ statamify:t key='saved_addresses_not_found' }}</div>
                </div>

              {{ /if }}

              <div class="body">

                {{ addresses }}

                  <div class="item item-row">
                    <div class="grid vcenter-xs">
                      <div class="col-6-sm title">

                         {{ if default }}

                           <i class="zmdi zmdi-star" title="Default"></i>

                         {{ else }}

                          <a href="/statamify/account/address-remove/{{ index }}" class="remove" title="Remove address">
                            <i class="zmdi zmdi-delete"></i>
                          </a>

                         {{ /if }}

                        <a href="{{ locale_url }}account/address/{{ index }}">{{ first_name }} {{ last_name }}{{ if company}}, {{ company }}{{ /if }}</a>

                      </div>
                      <div class="col-3-sm">{{ phone or '-' }}</div>
                      <div class="col-8-sm">{{ address }}{{ if address_2 }}, {{ address_2 }}{{ /if }}</div>
                      <div class="col-3-sm">{{ city }} {{ postal }}</div>
                      <div class="col-4-sm text-right alt">{{ statamify:location :country='country' }}{{ if region }}{{ region }}, {{ /if }}{{ country }}{{ /statamify:location }}</div>
                    </div>
                  </div>

                {{ /addresses }}

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

{{ /statamify:customer }}