{{ section:title }}{{ trans:cp.reset_password }}{{ /section:title }}

<section class="cart">

  <div class="container">

    {{ user:reset_password_form }}

      <div class="hide"><input type="text" name="addresso" class="validate[maxSize[0]]" /></div>

      <div class="grid">
        <div class="col-24-sm">
          <h2 class="text-center">{{ trans:cp.reset_password }}</h2>
        </div>
      </div>

      <div class="grid hcenter-xs">
        <div class="col-12-sm">

          {{ if success }}

            <div class="grid row">

              <div class="col-24-sm" style="padding-bottom: 20px"><div class="alert success">{{ trans:passwords.reset }}</div></div>

            </div>

            <div class="totals" style="margin: 0">

              <div class="line">
                <div class="grid">
                  <div class="col-24-sm text-center">
                    <a href="{{ locale_url }}account/login" class="btn alt">{{ trans:cp.login }}</a>
                  </div>
                </div>
              </div>

            </div>

          {{ elseif url_invalid }}

            <div class="grid row errors">

              <div class="col-24-sm" style="padding-bottom: 20px"><div class="alert">{{ trans:passwords.token }}</div></div>

            </div>

          {{ else }}

            {{ if errors }}

              <div class="grid row errors">

              {{ errors }}

                <div class="col-24-sm" style="padding-bottom: 20px"><div class="alert error active">{{ value }}</div></div>
                
              {{ /errors }}

              </div>

            {{ /if }}

            <div class="totals" style="margin: 0">

              <div class="line">
                <div class="grid">
                  <div class="col-24-sm">

                    <div class="field">
                      <label>{{ trans:cp.password }}</label>
                      <input type="password" name="password" placeholder="Password" class="validate[required]" id="password">
                    </div>

                    <div class="field">
                      <label>{{ trans:cp.confirm_password }}</label>
                      <input type="password" name="password_confirmation" class="validate[required,equals[password]]">
                    </div>

                  </div>
                </div>
              </div>

              <div class="line">
                <div class="grid">
                  <div class="col-24-sm text-center">
                    <button type="submit" class="btn">{{ trans:cp.reset_password }}</button>
                  </div>
                </div>
              </div>

              <div class="line">
                <div class="grid">
                  <div class="col-24-sm text-center">
                    <a href="{{ locale_url }}account/login" class="btn alt">{{ trans:cp.login }}</a>
                  </div>
                </div>
              </div>

            </div>

          {{ /if }}

        </div>
      </div>

    {{ /user:reset_password_form }}

  </div>

</section>