<footer>
  <div class="container">
    <div class="grid">
      <div class="col-8-xs col-6-sm">
        <div class="title">Categories</div>
        <ul>
          {{ collection:store_categories }}
          <li><a href="{{ permalink }}">{{ title }}</a></li>
          {{ /collection:store_categories }}
        </ul>
      </div>
      <div class="col-8-xs col-6-sm">
        <div class="title">Vendors</div>
        <ul>
          {{ collection:store_vendors }}
          <li><a href="{{ permalink }}">{{ title }}</a></li>
          {{ /collection:store_vendors }}
        </ul>
      </div>
      <div class="col-8-xs col-6-sm">
        <div class="title">Types</div>
        <ul>
          {{ collection:store_types }}
          <li><a href="{{ permalink }}">{{ title }}</a></li>
          {{ /collection:store_types }}
        </ul>
      </div>
      <div class="col-6-sm">
        <div class="hidden-sm">
          <div class="padding"></div>
        </div>
        <div class="title">About</div>
        <div class="desc">This is demo store of Statamify - free Shopify-like ecommerce addon for wonderful Statamic. You can download it and many other amazing stuff on the Marketplace!</div>
      </div>
    </div>
    <div class="grid">
      <div class="col-24-sm text-center"><img src="{{ theme:asset src='/assets/img/cards.jpg' }}">
        <div class="copy">Copyright © 2018 All rights reserved | This addon & demo store were made with &#10084; by <a href="">Sellfino</a> <br/>Based on the theme: <a href="https://colorlib.com/wp/template/coza-store/" target="_blank">Cozastore</a></div>
      </div>
    </div>
  </div>
</footer>