<div class="filters">
  <div class="grid">

    <div class="filter">
      <div class="title">{{ statamify:t key='sort' }}</div>
      <ul>
        <li>
          <a href="{{ statamify:url key='sort' type='remove' }}" {{ unless { statamify:url key='sort' type='get' } }}class="active"{{ /unless }}>{{ statamify:t key='newness' }}</a>
        </li>
        <li>
          <a href="{{ statamify:url key='sort' value='price:asc' }}" {{ if { statamify:url key='sort' value='price@asc' type='get' } }}class="active"{{ /if }}>{{ statamify:t key='price_low_high' }}</a>
        </li>
        <li>
          <a href="{{ statamify:url key='sort' value='price:desc' }}" {{ if { statamify:url key='sort' value='price@desc' type='get' } }}class="active"{{ /if }}>{{ statamify:t key='price_high_low' }}</a>
        </li>
        <li>
          <a href="{{ statamify:url key='sort' value='title:asc' }}" {{ if { statamify:url key='sort' value='title@asc' type='get' } }}class="active"{{ /if }}>{{ statamify:t key='alpha_a_z' }}</a>
        </li>
        <li>
          <a href="{{ statamify:url key='sort' value='title:desc' }}" {{ if { statamify:url key='sort' value='title@desc' type='get' } }}class="active"{{ /if }}>{{ statamify:t key='alpha_z_a' }}</a>
        </li>
      </ul>
    </div>

    <div class="filter">
      <div class="title">{{ statamify:t key='categories' }}</div>
      <ul>

        {{ if collection == 'store_categories' }}

          {{ collection from='store_categories' }}

            <li>

              <a href="{{ url }}" {{ if slug == page:slug }}class="active"{{ /if }}>
                {{ title }}
              </a>

            </li>

          {{ /collection }}

        {{ else }}

          <li>
            <a href="{{ statamify:url key='filter' value='store_categories' type='remove' }}" {{ unless { statamify:url key='filter' value='store_categories' type='get' } }}class="active"{{ /unless }}>{{ statamify:t key='all' }}</a>
          </li>

          {{ collection from='store_categories' }}

            <li>

              {{ if { statamify:url key='filter' value='store_categories:{ slug }' type='get' } }}

                <a href="{{ statamify:url key='filter' value='store_categories:{ slug }' type='remove' }}" class="active">
                  <i class="zmdi zmdi-close"></i> {{ title }}
                </a>

              {{ else }}

                <a href="{{ statamify:url key='filter' value='store_categories:{ slug }' type='add' }}">
                  {{ title }}
                </a>

              {{ /if }}

            </li>

          {{ /collection }}

        {{ /if }}

      </ul>
    </div>

    <div class="filter">
      <div class="title">{{ statamify:t key='types' }}</div>
      <ul>

        {{ if collection == 'store_types' }}

          {{ collection from='store_types' }}

              <li>

                <a href="{{ url }}" {{ if slug == page:slug }}class="active"{{ /if }}>
                  {{ title }}
                </a>

              </li>

            {{ /collection }}

        {{ else }}

          <li>
            <a href="{{ statamify:url key='filter' value='store_types' type='remove' }}" {{ unless { statamify:url key='filter' value='store_types' type='get' } }}class="active"{{ /unless }}>{{ statamify:t key='all' }}</a>
          </li>

          {{ collection from='store_types' }}

            <li>

              {{ if { statamify:url key='filter' value='store_types:{ slug }' type='get' } }}
              
                <a href="{{ statamify:url key='filter' value='store_types:{ slug }' type='remove' }}" class="active">
                  <i class="zmdi zmdi-close"></i> {{ title }}
                </a>

              {{ else }}

                <a href="{{ statamify:url key='filter' value='store_types:{ slug }' type='add' }}">
                  {{ title }}
                </a>

              {{ /if }}

            </li>

          {{ /collection }}

        {{ /if }}

      </ul>
    </div>

    <div class="filter">
      <div class="title">{{ statamify:t key='vendors' }}</div>
      <ul>

        {{ if collection == 'store_vendors' }}

          {{ collection from='store_vendors' }}

              <li>

                <a href="{{ url }}" {{ if slug == page:slug }}class="active"{{ /if }}>
                  {{ title }}
                </a>

              </li>

            {{ /collection }}

        {{ else }}

          <li>
            <a href="{{ statamify:url key='filter' value='store_vendors' type='remove' }}" {{ unless { statamify:url key='filter' value='store_vendors' type='get' } }}class="active"{{ /unless }}>{{ statamify:t key='all' }}</a>
          </li>

          {{ collection from='store_vendors' }}

            <li>

              {{ if { statamify:url key='filter' value='store_vendors:{ slug }' type='get' } }}
              
                <a href="{{ statamify:url key='filter' value='store_vendors:{ slug }' type='remove' }}" class="active">
                  <i class="zmdi zmdi-close"></i> {{ title }}
                </a>

              {{ else }}

                <a href="{{ statamify:url key='filter' value='store_vendors:{ slug }' type='add' }}">
                  {{ title }}
                </a>

              {{ /if }}

            </li>

          {{ /collection }}

        {{ /if }}

      </ul>

    </div>

    <div class="filter">
      <div class="title">{{ statamify:t key='price' }}</div>
      <ul>
        <li>
          <a href="{{ statamify:url key='filter' value='price' type='remove' }}" {{ unless { statamify:url key='filter' value='price' type='get' } }}class="active"{{ /unless }}>{{ statamify:t key='all' }}</a>
        </li>
        <li>
          <a href="{{ statamify:url key='filter' value='price:>0;price:<50' arg='price' }}" {{ if { statamify:url key='filter' value='price:>0' type='get' } }}class="active"{{ /if }}>$0.00 - $50.00</a>
        </li>
        <li>
          <a href="{{ statamify:url key='filter' value='price:>50;price:<100' arg='price' }}" {{ if { statamify:url key='filter' value='price:>50' type='get' } }}class="active"{{ /if }}>$50.00 - $100.00</a>
        </li>
        <li>
          <a href="{{ statamify:url key='filter' value='price:>100;price:<200' arg='price' }}" {{ if { statamify:url key='filter' value='price:>100' type='get' } }}class="active"{{ /if }}>$100.00 - $200.00</a>
        </li>
        <li>
          <a href="{{ statamify:url key='filter' value='price:>200;price:<500' arg='price' }}" {{ if { statamify:url key='filter' value='price:>200' type='get' } }}class="active"{{ /if }}>$200.00 - $500.00</a>
        </li>
        <li>
          <a href="{{ statamify:url key='filter' value='price:>500' arg='price' }}" {{ if { statamify:url key='filter' value='price:>500' type='get' } }}class="active"{{ /if }}>$500.00+</a>
        </li>
      </ul>
    </div>

    <div class="filter colors">
      <div class="title">{{ statamify:t key='color' }} (tags)</div>
      <ul>

        {{ taxonomy:color sort="title:asc" }}

          {{ if { statamify:url key='filter' value='color:{ slug }' type='get' } }}

            <li>
              <a href="{{ statamify:url key='filter' value='color:{ slug }' type='remove' }}" class="active {{ slug }}">
                <i class="zmdi zmdi-close"></i> {{ title | t }}
              </a>
            </li>

          {{ else }}

            <li>
              <a href="{{ statamify:url key='filter' value='color:{ slug }' type='add' }}" class="{{ slug }}">
                {{ title | t }}
              </a>
            </li>

          {{ /if }}

        {{ /taxonomy:color }}

      </ul>
    </div>

  </div>
</div>