{{ section:title }}{{ statamify:t key='order_summary' }}{{ /section:title }}

{{ old }}

  <section class="cart">
    <div class="container">
      <div class="grid">
        <div class="col-24-sm">
          <h2 class="text-center">{{ statamify:t key='order' }} {{ title }}</h2>
        </div>
      </div>

      <div class="inside">
        <div class="grid">
          <div class="col-16-md">
            <div class="table">
              <div class="head grid">
                <div class="col-8-sm">{{ statamify:t key='product' }}</div>
                <div class="col-4-sm text-center">{{ statamify:t key='price' }}</div>
                <div class="col-8-sm text-center">{{ statamify:t key='quantity' }}</div>
                <div class="col-4-sm text-right">{{ statamify:t key='total' }}</div>
              </div>
              <div class="body">

                {{ summary.items }}

                  <div class="item" data-id="{{ item_id }}">
                    <div class="grid vcenter-xs">

                      <div class="col-8-sm main">
                        <div class="grid vcenter-xs">

                          <div class="thumb">

                            <img src="{{ glide:image_original width='400' fit='max' }}">

                          </div>

                          <div class="details">

                            <div class="product-name">{{ name }}</div>

                            {{ if variant }}<div class="info">{{ variant.attrs | statamify.attrs }}</div>{{ /if }}

                          </div>
                        </div>
                      </div>

                      <div class="col-6-xs col-4-sm text-center">

                        <label>{{ statamify:t key='price' }}:</label> 

                        {{ price | statamify.money }}

                      </div>

                      <div class="col-12-xs col-8-sm text-center">
                        
                        <label>{{ statamify:t key='quantity' }}:</label> 

                        {{ quantity }}

                      </div>

                      <div class="col-6-xs col-4-sm text-right">

                        <label>{{ statamify:t key='total' }}:</label> 

                        {{ price | multiply:quantity | statamify.money }}

                      </div>

                    </div>
                  </div>

                {{ /summary.items }}

              </div>
            </div>
          </div>
          <div class="col-8-md">
            <div class="totals">
              <div class="line">
                <div class="grid vstart-xs">
                  <div class="col-10-sm">
                    <div class="title">{{ statamify:t key='date' }}</div>
                  </div>
                  <div class="col-14-sm total-sub">{{ date }}</div>
                </div>
              </div>
              <div class="line">
                <div class="grid vstart-xs">
                  <div class="col-10-sm">
                    <div class="title">{{ statamify:t key='subtotal' }}</div>
                  </div>
                  <div class="col-14-sm total-sub">{{ summary.total.sub | statamify.money }}</div>
                </div>
              </div>
              <div class="line">
                <div class="grid vstart-xs">
                  <div class="col-10-sm">
                    <div class="title">{{ statamify:t key='discount' }}</div>
                  </div>
                  <div class="col-14-sm total-discount">

                    {{ summary.total.discount | statamify.money }}

                    {{ if summary.coupons }}

                      <span style="font-size: 85%">

                        {{ summary.coupons }}

                          <br/>{{ statamify:t key='coupon_applied' }}: <strong>{{ value }}</strong>

                        {{ /summary.coupons }}

                      </span>

                    {{ /if }}

                  </div>
                </div>
              </div>
              <div class="line">
                <div class="grid vstart-xs">
                  <div class="col-10-sm">
                    <div class="title">{{ statamify:t key='shipping' }}</div>
                  </div>
                  <div class="col-14-sm total-shipping">{{ summary.total.shipping | statamify.money }}</div>
                </div>
              </div>
              <div class="line">
                <div class="grid vstart-xs">
                  <div class="col-10-sm">
                    <div class="title">{{ statamify:t key='total' }}</div>
                  </div>

                  <div class="col-14-sm total-grand">{{ summary.total.grand | statamify.money }}</div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid shipping-billing">
        <div class="col-24-sm">
          <div class="totals" style="margin: 0">
            <div class="line">
              <div class="grid vstart-xs">
                <div class="col-8-md">
                  <div class="title">{{ statamify:t key='shipping' }} / {{ statamify:t key='billing' }}</div>
                </div>
                <div class="col-16-md">
                  <div class="grid">

                    <div class="col-12-sm">
                      <label class="saved-address">

                        <div class="block">

                          <strong>{{ statamify:t key='shipping_info' }}:</strong> <br><br/>

                          {{ shipping }}

                            {{ first_name }} {{ last_name }}{{ if company }}, {{ company }}{{ /if }} <br/>
                            {{ if phone }}{{ phone }}<br/>{{ /if }}
                            {{ address }}{{ if address_2 }}, {{ address_2 }}{{ /if }}<br/>

                            {{ statamify:location }}
                            {{ city }} {{ postal }} {{ if region }}, {{ region }}{{ /if }} <br/>
                            {{ country }}
                            {{ /statamify:location }}

                            <br/><br/>

                            <strong>{{ statamify:t key='address_shipping_method' }}:&nbsp; </strong> {{ shipping_method.name }}

                          {{ /shipping }}


                        </div>

                      </label>
                    </div>

                    <div class="col-12-sm">
                      <label class="saved-address">

                        <div class="block">

                          <strong>{{ statamify:t key='billing_info' }}:</strong> <br>

                          {{ if billing && billing_diff }}

                            {{ billing }}

                              {{ first_name }} {{ last_name }}{{ if company }}, {{ company }}{{ /if }} <br/>
                              {{ if phone }}{{ phone }}<br/>{{ /if }}
                              {{ address }}{{ if address_2 }}, {{ address_2 }}{{ /if }}<br/>

                              {{ statamify:location }}
                              {{ city }} {{ postal }} {{ if region }}, {{ region }}{{ /if }} <br/>
                              {{ country }}
                              {{ /statamify:location }}

                            {{ /billing }}

                          {{ else }}

                            {{ statamify:t key='address_same' }}

                          {{ /if }}

                          <br/><br/>

                          <strong>{{ statamify:t key='address_payment' }}:&nbsp; </strong> {{ t string='{payment_method.name}' }}

                          {{ if payment_method.name == 'Cheque' }}
  
                            <div class="info" data-order="{{ title }}" style="font-size:80%">

                              {{ statamify:cheque }}

                                {{ info | nl2br }}

                              {{ /statamify:cheque }}

                            </div>

                            <script>
                              info = document.querySelector('section.cart .info')
                              order = info.dataset.order
                              info.innerHTML = info.innerHTML.replace('Order Number', order)
                            </script>

                          {{ /if }}


                        </div>

                      </label>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

{{ /old }}