<div class="line">
  <div class="grid vstart-xs">
    <div class="col-8-md">
      <div class="title">{{ statamify:t key='payment' }}</div>
    </div>
    <div class="col-16-md">
      <div class="grid">
        <div class="col-24-sm">
          <ul class="radios">

            {{ statamify:gateways }}

              {{ if type == 'cheque' && active }}

                <li>

                  <input type="radio" value="cheque" id="pay0" name="payment_method" {{ if index == 1 }}checked{{ /if }}>

                  <label for="pay0">{{ statamify:t key='cheque' }}</label>

                  <div class="info hidden">{{ info | nl2br }}</div>

                </li>

              {{ /if }}

              {{ if type == 'stripe' && active }}

                <li>

                  <input type="radio" value="stripe" id="pay1" name="payment_method" {{ if index == 1 }}checked{{ /if }}>

                  <label for="pay1">Stripe</label>

                  <div class="info hidden">

                    <div id="stripe-form"></div>
                    <div id="card-errors" role="alert" style="color: #e65540;"></div>

                  </div>

                  <script>
                    var stripe = Stripe('{{ if test }}{{ test_keys.public }}{{ else }}{{ keys.public }}{{ /if }}');
                    var elements = stripe.elements();
                    var card = elements.create('card', { 
                      style: { base: { fontFamily: '"Helvetica Neue", Helvetica, Open Sans, Segoe UI, sans-serif', fontSmoothing: 'antialiased' } } 
                    });
                    card.mount('#stripe-form');
                    card.addEventListener('change', function(event) {
                      var displayError = document.getElementById('card-errors');
                      if (event.error) {
                        displayError.textContent = event.error.message;
                      } else {
                        displayError.textContent = '';
                      }
                    });
                  </script>
                  
                </li>

              {{ /if }}

            {{ /statamify:gateways }}

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>